body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Custom styles below */

.dash-grid-cell {
  background: whitesmoke;
  list-style: none;
  padding: 4px;
  overflow: hidden;
  font-size: small;
}

.dash-grid-cell h4 {
  text-align: center;
}

.patient-row {
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.reporting-header {
  margin: 30px;
}

.start-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.patient-heading {
  color: purple;
}

.page-heading {
  color: purple;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.jumbotron {
  height:100vh;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.check-icon {
  width: 32px;
  height: auto;
  position: absolute;
  bottom: 16px;
  right: 8px;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  padding: 5px;
}

.top-margin {
  margin-top: 20px;
}

.static-modal-jumbotron {
  color: #222222;
  opacity: 1.0;
}

.feed-heading {
  /* margin-top: 15px; */
  padding: 5px;
}

.feed-item {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  background: whitesmoke;
}

.jumbotron p {
  font-size: 26px;
}

.white {
  color:white !important;
}

.purple {
  color: purple !important;
}

.header-image {
  margin-top: 50px;
  margin-bottom: 15px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .header-image    {
    width: 250px;
  }
}

.header-text-section {
  margin: 50px;
}

.header-text {
  font-weight: bold;
  font-size: 16px;
}

.transparency-jumbotron {
  background: rgb(0,0,0);
  max-height: 100%;
  background-size: cover;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.active-row {
  background:lightblue !important;
}

.push-left {
  float: left !important;
}

.img-img {
  width: 100px;
  height: 100px;
}